
[Unit]
Description=noderedComputer
After=network.target
After=multi-user.target
StartAfter=network.target
StartAfter=multi-user.target

[Service]
ExecStartPre=/bin/sleep 5
Environment="DISPLAY=:0"
ExecStart=/usr/bin/python3 /root/NodeRED-Computer-PartHardware/noderedComputer-Server/noderedComputer.py
WorkingDirectory=/root/NodeRED-Computer-PartHardware/noderedComputer-Server/
Restart=always

[Install]
WantedBy=multi-user.target


